.bg-gradient-x-white .card-header,
.bg-gradient-x-white .card-footer,
.bg-gradient-y-white .card-header,
.bg-gradient-y-white .card-footer,
.bg-gradient-directional-white .card-header,
.bg-gradient-directional-white .card-footer,
.bg-gradient-radial-white .card-header,
.bg-gradient-radial-white .card-footer,
.bg-gradient-striped-white .card-header,
.bg-gradient-striped-white .card-footer,
.bg-gradient-x2-white .card-header,
.bg-gradient-x2-white .card-footer,
.bg-gradient-y2-white .card-header,
.bg-gradient-y2-white .card-footer {
    background-color: transparent;
}

.bg-gradient-x-black .card-header,
.bg-gradient-x-black .card-footer,
.bg-gradient-y-black .card-header,
.bg-gradient-y-black .card-footer,
.bg-gradient-directional-black .card-header,
.bg-gradient-directional-black .card-footer,
.bg-gradient-radial-black .card-header,
.bg-gradient-radial-black .card-footer,
.bg-gradient-striped-black .card-header,
.bg-gradient-striped-black .card-footer,
.bg-gradient-x2-black .card-header,
.bg-gradient-x2-black .card-footer,
.bg-gradient-y2-black .card-header,
.bg-gradient-y2-black .card-footer {
    background-color: transparent;
}

.bg-gradient-x-primary {
    background-image: linear-gradient(to right, #704acf 0%, #ac92ec 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF704ACF', endColorstr='#FFAC92EC', GradientType=1);
}

.bg-gradient-y-primary {
    background-image: linear-gradient(to bottom, #704acf 0%, #ac92ec 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF704ACF', endColorstr='#FFAC92EC', GradientType=0);
}

.bg-gradient-directional-primary {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #704acf, #ac92ec);
}

.bg-gradient-x2-primary {
    background-image: linear-gradient(to right, #ac92ec, #054473 50%, #bcaae9);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAC92EC', endColorstr='#FFBCAAE9', GradientType=1);
}

.bg-gradient-y2-primary {
    background-image: linear-gradient(#ac92ec, #054473 50%, #bcaae9);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAC92EC', endColorstr='#FFBCAAE9', GradientType=0);
}

.bg-gradient-radial-primary {
    background-image: radial-gradient(circle, #704acf, #ac92ec);
    background-repeat: no-repeat;
}

.bg-gradient-striped-primary {
    background-image: linear-gradient(
        45deg,
        #bcaae9 25%,
        transparent 25%,
        transparent 50%,
        #bcaae9 50%,
        #bcaae9 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-primary .card-header,
.bg-gradient-x-primary .card-footer,
.bg-gradient-y-primary .card-header,
.bg-gradient-y-primary .card-footer,
.bg-gradient-directional-primary .card-header,
.bg-gradient-directional-primary .card-footer,
.bg-gradient-radial-primary .card-header,
.bg-gradient-radial-primary .card-footer,
.bg-gradient-striped-primary .card-header,
.bg-gradient-striped-primary .card-footer,
.bg-gradient-x2-primary .card-header,
.bg-gradient-x2-primary .card-footer,
.bg-gradient-y2-primary .card-header,
.bg-gradient-y2-primary .card-footer {
    background-color: transparent;
}

.bg-gradient-x-success {
    background-image: linear-gradient(to right, #298d74 0%, #48cfad 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF298D74', endColorstr='#FF48CFAD', GradientType=1);
}

.bg-gradient-y-success {
    background-image: linear-gradient(to bottom, #298d74 0%, #48cfad 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF298D74', endColorstr='#FF48CFAD', GradientType=0);
}

.bg-gradient-directional-success {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #298d74, #48cfad);
}

.bg-gradient-x2-success {
    background-image: linear-gradient(to right, #48cfad, #37bc9b 50%, #60d0b4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF48CFAD', endColorstr='#FF60D0B4', GradientType=1);
}

.bg-gradient-y2-success {
    background-image: linear-gradient(#48cfad, #37bc9b 50%, #60d0b4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF48CFAD', endColorstr='#FF60D0B4', GradientType=0);
}

.bg-gradient-radial-success {
    background-image: radial-gradient(circle, #298d74, #48cfad);
    background-repeat: no-repeat;
}

.bg-gradient-striped-success {
    background-image: linear-gradient(
        45deg,
        #60d0b4 25%,
        transparent 25%,
        transparent 50%,
        #60d0b4 50%,
        #60d0b4 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-success .card-header,
.bg-gradient-x-success .card-footer,
.bg-gradient-y-success .card-header,
.bg-gradient-y-success .card-footer,
.bg-gradient-directional-success .card-header,
.bg-gradient-directional-success .card-footer,
.bg-gradient-radial-success .card-header,
.bg-gradient-radial-success .card-footer,
.bg-gradient-striped-success .card-header,
.bg-gradient-striped-success .card-footer,
.bg-gradient-x2-success .card-header,
.bg-gradient-x2-success .card-footer,
.bg-gradient-y2-success .card-header,
.bg-gradient-y2-success .card-footer {
    background-color: transparent;
}

.bg-gradient-x-info {
    background-image: linear-gradient(to right, #228eb6 0%, #4fc1e9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF228EB6', endColorstr='#FF4FC1E9', GradientType=1);
}

.bg-gradient-y-info {
    background-image: linear-gradient(to bottom, #228eb6 0%, #4fc1e9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF228EB6', endColorstr='#FF4FC1E9', GradientType=0);
}

.bg-gradient-directional-info {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #228eb6, #4fc1e9);
}

.bg-gradient-x2-info {
    background-image: linear-gradient(to right, #4fc1e9, #3bafda 50%, #6ec4e4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4FC1E9', endColorstr='#FF6EC4E4', GradientType=1);
}

.bg-gradient-y2-info {
    background-image: linear-gradient(#4fc1e9, #3bafda 50%, #6ec4e4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4FC1E9', endColorstr='#FF6EC4E4', GradientType=0);
}

.bg-gradient-radial-info {
    background-image: radial-gradient(circle, #228eb6, #4fc1e9);
    background-repeat: no-repeat;
}

.bg-gradient-striped-info {
    background-image: linear-gradient(
        45deg,
        #6ec4e4 25%,
        transparent 25%,
        transparent 50%,
        #6ec4e4 50%,
        #6ec4e4 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-info .card-header,
.bg-gradient-x-info .card-footer,
.bg-gradient-y-info .card-header,
.bg-gradient-y-info .card-footer,
.bg-gradient-directional-info .card-header,
.bg-gradient-directional-info .card-footer,
.bg-gradient-radial-info .card-header,
.bg-gradient-radial-info .card-footer,
.bg-gradient-striped-info .card-header,
.bg-gradient-striped-info .card-footer,
.bg-gradient-x2-info .card-header,
.bg-gradient-x2-info .card-footer,
.bg-gradient-y2-info .card-header,
.bg-gradient-y2-info .card-footer {
    background-color: transparent;
}

.bg-gradient-x-warning {
    background-image: linear-gradient(to right, #efa50b 0%, #ffce54 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFA50B', endColorstr='#FFFFCE54', GradientType=1);
}

.bg-gradient-y-warning {
    background-image: linear-gradient(to bottom, #efa50b 0%, #ffce54 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFA50B', endColorstr='#FFFFCE54', GradientType=0);
}

.bg-gradient-directional-warning {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #efa50b, #ffce54);
}

.bg-gradient-x2-warning {
    background-image: linear-gradient(to right, #ffce54, #f6bb42 50%, #f9d07c);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFCE54', endColorstr='#FFF9D07C', GradientType=1);
}

.bg-gradient-y2-warning {
    background-image: linear-gradient(#ffce54, #f6bb42 50%, #f9d07c);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFCE54', endColorstr='#FFF9D07C', GradientType=0);
}

.bg-gradient-radial-warning {
    background-image: radial-gradient(circle, #efa50b, #ffce54);
    background-repeat: no-repeat;
}

.bg-gradient-striped-warning {
    background-image: linear-gradient(
        45deg,
        #f9d07c 25%,
        transparent 25%,
        transparent 50%,
        #f9d07c 50%,
        #f9d07c 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-warning .card-header,
.bg-gradient-x-warning .card-footer,
.bg-gradient-y-warning .card-header,
.bg-gradient-y-warning .card-footer,
.bg-gradient-directional-warning .card-header,
.bg-gradient-directional-warning .card-footer,
.bg-gradient-radial-warning .card-header,
.bg-gradient-radial-warning .card-footer,
.bg-gradient-striped-warning .card-header,
.bg-gradient-striped-warning .card-footer,
.bg-gradient-x2-warning .card-header,
.bg-gradient-x2-warning .card-footer,
.bg-gradient-y2-warning .card-header,
.bg-gradient-y2-warning .card-footer {
    background-color: transparent;
}

.bg-gradient-x-danger {
    background-image: linear-gradient(to right, #bc2534 0%, #ed5565 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBC2534', endColorstr='#FFED5565', GradientType=1);
}

.bg-gradient-y-danger {
    background-image: linear-gradient(to bottom, #bc2534 0%, #ed5565 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBC2534', endColorstr='#FFED5565', GradientType=0);
}

.bg-gradient-directional-danger {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #bc2534, #ed5565);
}

.bg-gradient-x2-danger {
    background-image: linear-gradient(to right, #ed5565, #da4453 50%, #e47782);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED5565', endColorstr='#FFE47782', GradientType=1);
}

.bg-gradient-y2-danger {
    background-image: linear-gradient(#ed5565, #da4453 50%, #e47782);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFED5565', endColorstr='#FFE47782', GradientType=0);
}

.bg-gradient-radial-danger {
    background-image: radial-gradient(circle, #bc2534, #ed5565);
    background-repeat: no-repeat;
}

.bg-gradient-striped-danger {
    background-image: linear-gradient(
        45deg,
        #e47782 25%,
        transparent 25%,
        transparent 50%,
        #e47782 50%,
        #e47782 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-danger .card-header,
.bg-gradient-x-danger .card-footer,
.bg-gradient-y-danger .card-header,
.bg-gradient-y-danger .card-footer,
.bg-gradient-directional-danger .card-header,
.bg-gradient-directional-danger .card-footer,
.bg-gradient-radial-danger .card-header,
.bg-gradient-radial-danger .card-footer,
.bg-gradient-striped-danger .card-header,
.bg-gradient-striped-danger .card-footer,
.bg-gradient-x2-danger .card-header,
.bg-gradient-x2-danger .card-footer,
.bg-gradient-y2-danger .card-header,
.bg-gradient-y2-danger .card-footer {
    background-color: transparent;
}

.bg-gradient-x-red {
    background-image: linear-gradient(to right, #d32f2f 0%, #e57373 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD32F2F', endColorstr='#FFE57373', GradientType=1);
}

.bg-gradient-y-red {
    background-image: linear-gradient(to bottom, #d32f2f 0%, #e57373 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD32F2F', endColorstr='#FFE57373', GradientType=0);
}

.bg-gradient-directional-red {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #d32f2f, #e57373);
}

.bg-gradient-x2-red {
    background-image: linear-gradient(to right, #e57373, #f44336 50%, #ef9a9a);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE57373', endColorstr='#FFEF9A9A', GradientType=1);
}

.bg-gradient-y2-red {
    background-image: linear-gradient(#e57373, #f44336 50%, #ef9a9a);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE57373', endColorstr='#FFEF9A9A', GradientType=0);
}

.bg-gradient-radial-red {
    background-image: radial-gradient(circle, #d32f2f, #e57373);
    background-repeat: no-repeat;
}

.bg-gradient-striped-red {
    background-image: linear-gradient(
        45deg,
        #ef9a9a 25%,
        transparent 25%,
        transparent 50%,
        #ef9a9a 50%,
        #ef9a9a 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-red .card-header,
.bg-gradient-x-red .card-footer,
.bg-gradient-y-red .card-header,
.bg-gradient-y-red .card-footer,
.bg-gradient-directional-red .card-header,
.bg-gradient-directional-red .card-footer,
.bg-gradient-radial-red .card-header,
.bg-gradient-radial-red .card-footer,
.bg-gradient-striped-red .card-header,
.bg-gradient-striped-red .card-footer,
.bg-gradient-x2-red .card-header,
.bg-gradient-x2-red .card-footer,
.bg-gradient-y2-red .card-header,
.bg-gradient-y2-red .card-footer {
    background-color: transparent;
}

.bg-gradient-x-pink {
    background-image: linear-gradient(to right, #c2185b 0%, #f06292 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC2185B', endColorstr='#FFF06292', GradientType=1);
}

.bg-gradient-y-pink {
    background-image: linear-gradient(to bottom, #c2185b 0%, #f06292 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC2185B', endColorstr='#FFF06292', GradientType=0);
}

.bg-gradient-directional-pink {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #c2185b, #f06292);
}

.bg-gradient-x2-pink {
    background-image: linear-gradient(to right, #f06292, #e91e63 50%, #f48fb1);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF06292', endColorstr='#FFF48FB1', GradientType=1);
}

.bg-gradient-y2-pink {
    background-image: linear-gradient(#f06292, #e91e63 50%, #f48fb1);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF06292', endColorstr='#FFF48FB1', GradientType=0);
}

.bg-gradient-radial-pink {
    background-image: radial-gradient(circle, #c2185b, #f06292);
    background-repeat: no-repeat;
}

.bg-gradient-striped-pink {
    background-image: linear-gradient(
        45deg,
        #f48fb1 25%,
        transparent 25%,
        transparent 50%,
        #f48fb1 50%,
        #f48fb1 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-pink .card-header,
.bg-gradient-x-pink .card-footer,
.bg-gradient-y-pink .card-header,
.bg-gradient-y-pink .card-footer,
.bg-gradient-directional-pink .card-header,
.bg-gradient-directional-pink .card-footer,
.bg-gradient-radial-pink .card-header,
.bg-gradient-radial-pink .card-footer,
.bg-gradient-striped-pink .card-header,
.bg-gradient-striped-pink .card-footer,
.bg-gradient-x2-pink .card-header,
.bg-gradient-x2-pink .card-footer,
.bg-gradient-y2-pink .card-header,
.bg-gradient-y2-pink .card-footer {
    background-color: transparent;
}

.bg-gradient-x-purple {
    background-image: linear-gradient(to right, #7b1fa2 0%, #ba68c8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7B1FA2', endColorstr='#FFBA68C8', GradientType=1);
}

.bg-gradient-y-purple {
    background-image: linear-gradient(to bottom, #7b1fa2 0%, #ba68c8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7B1FA2', endColorstr='#FFBA68C8', GradientType=0);
}

.bg-gradient-directional-purple {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #7b1fa2, #ba68c8);
}

.bg-gradient-x2-purple {
    background-image: linear-gradient(to right, #ba68c8, #9c27b0 50%, #ce93d8);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBA68C8', endColorstr='#FFCE93D8', GradientType=1);
}

.bg-gradient-y2-purple {
    background-image: linear-gradient(#ba68c8, #9c27b0 50%, #ce93d8);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBA68C8', endColorstr='#FFCE93D8', GradientType=0);
}

.bg-gradient-radial-purple {
    background-image: radial-gradient(circle, #7b1fa2, #ba68c8);
    background-repeat: no-repeat;
}

.bg-gradient-striped-purple {
    background-image: linear-gradient(
        45deg,
        #ce93d8 25%,
        transparent 25%,
        transparent 50%,
        #ce93d8 50%,
        #ce93d8 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-purple .card-header,
.bg-gradient-x-purple .card-footer,
.bg-gradient-y-purple .card-header,
.bg-gradient-y-purple .card-footer,
.bg-gradient-directional-purple .card-header,
.bg-gradient-directional-purple .card-footer,
.bg-gradient-radial-purple .card-header,
.bg-gradient-radial-purple .card-footer,
.bg-gradient-striped-purple .card-header,
.bg-gradient-striped-purple .card-footer,
.bg-gradient-x2-purple .card-header,
.bg-gradient-x2-purple .card-footer,
.bg-gradient-y2-purple .card-header,
.bg-gradient-y2-purple .card-footer {
    background-color: transparent;
}

.bg-gradient-x-deep-purple {
    background-image: linear-gradient(to right, #512da8 0%, #9575cd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF512DA8', endColorstr='#FF9575CD', GradientType=1);
}

.bg-gradient-y-deep-purple {
    background-image: linear-gradient(to bottom, #512da8 0%, #9575cd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF512DA8', endColorstr='#FF9575CD', GradientType=0);
}

.bg-gradient-directional-deep-purple {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #512da8, #9575cd);
}

.bg-gradient-x2-deep-purple {
    background-image: linear-gradient(to right, #9575cd, #673ab7 50%, #b39ddb);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9575CD', endColorstr='#FFB39DDB', GradientType=1);
}

.bg-gradient-y2-deep-purple {
    background-image: linear-gradient(#9575cd, #673ab7 50%, #b39ddb);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9575CD', endColorstr='#FFB39DDB', GradientType=0);
}

.bg-gradient-radial-deep-purple {
    background-image: radial-gradient(circle, #512da8, #9575cd);
    background-repeat: no-repeat;
}

.bg-gradient-striped-deep-purple {
    background-image: linear-gradient(
        45deg,
        #b39ddb 25%,
        transparent 25%,
        transparent 50%,
        #b39ddb 50%,
        #b39ddb 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-deep-purple .card-header,
.bg-gradient-x-deep-purple .card-footer,
.bg-gradient-y-deep-purple .card-header,
.bg-gradient-y-deep-purple .card-footer,
.bg-gradient-directional-deep-purple .card-header,
.bg-gradient-directional-deep-purple .card-footer,
.bg-gradient-radial-deep-purple .card-header,
.bg-gradient-radial-deep-purple .card-footer,
.bg-gradient-striped-deep-purple .card-header,
.bg-gradient-striped-deep-purple .card-footer,
.bg-gradient-x2-deep-purple .card-header,
.bg-gradient-x2-deep-purple .card-footer,
.bg-gradient-y2-deep-purple .card-header,
.bg-gradient-y2-deep-purple .card-footer {
    background-color: transparent;
}

.bg-gradient-x-indigo {
    background-image: linear-gradient(to right, #303f9f 0%, #7986cb 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF303F9F', endColorstr='#FF7986CB', GradientType=1);
}

.bg-gradient-y-indigo {
    background-image: linear-gradient(to bottom, #303f9f 0%, #7986cb 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF303F9F', endColorstr='#FF7986CB', GradientType=0);
}

.bg-gradient-directional-indigo {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #303f9f, #7986cb);
}

.bg-gradient-x2-indigo {
    background-image: linear-gradient(to right, #7986cb, #3f51b5 50%, #9fa8da);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7986CB', endColorstr='#FF9FA8DA', GradientType=1);
}

.bg-gradient-y2-indigo {
    background-image: linear-gradient(#7986cb, #3f51b5 50%, #9fa8da);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7986CB', endColorstr='#FF9FA8DA', GradientType=0);
}

.bg-gradient-radial-indigo {
    background-image: radial-gradient(circle, #303f9f, #7986cb);
    background-repeat: no-repeat;
}

.bg-gradient-striped-indigo {
    background-image: linear-gradient(
        45deg,
        #9fa8da 25%,
        transparent 25%,
        transparent 50%,
        #9fa8da 50%,
        #9fa8da 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-indigo .card-header,
.bg-gradient-x-indigo .card-footer,
.bg-gradient-y-indigo .card-header,
.bg-gradient-y-indigo .card-footer,
.bg-gradient-directional-indigo .card-header,
.bg-gradient-directional-indigo .card-footer,
.bg-gradient-radial-indigo .card-header,
.bg-gradient-radial-indigo .card-footer,
.bg-gradient-striped-indigo .card-header,
.bg-gradient-striped-indigo .card-footer,
.bg-gradient-x2-indigo .card-header,
.bg-gradient-x2-indigo .card-footer,
.bg-gradient-y2-indigo .card-header,
.bg-gradient-y2-indigo .card-footer {
    background-color: transparent;
}

.bg-gradient-x-blue {
    background-image: linear-gradient(to right, #1976d2 0%, #64b5f6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1976D2', endColorstr='#FF64B5F6', GradientType=1);
}

.bg-gradient-y-blue {
    background-image: linear-gradient(to bottom, #1976d2 0%, #64b5f6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1976D2', endColorstr='#FF64B5F6', GradientType=0);
}

.bg-gradient-directional-blue {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #1976d2, #64b5f6);
}

.bg-gradient-x2-blue {
    background-image: linear-gradient(to right, #64b5f6, #2196f3 50%, #90caf9);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF64B5F6', endColorstr='#FF90CAF9', GradientType=1);
}

.bg-gradient-y2-blue {
    background-image: linear-gradient(#64b5f6, #2196f3 50%, #90caf9);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF64B5F6', endColorstr='#FF90CAF9', GradientType=0);
}

.bg-gradient-radial-blue {
    background-image: radial-gradient(circle, #1976d2, #64b5f6);
    background-repeat: no-repeat;
}

.bg-gradient-striped-blue {
    background-image: linear-gradient(
        45deg,
        #90caf9 25%,
        transparent 25%,
        transparent 50%,
        #90caf9 50%,
        #90caf9 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-blue .card-header,
.bg-gradient-x-blue .card-footer,
.bg-gradient-y-blue .card-header,
.bg-gradient-y-blue .card-footer,
.bg-gradient-directional-blue .card-header,
.bg-gradient-directional-blue .card-footer,
.bg-gradient-radial-blue .card-header,
.bg-gradient-radial-blue .card-footer,
.bg-gradient-striped-blue .card-header,
.bg-gradient-striped-blue .card-footer,
.bg-gradient-x2-blue .card-header,
.bg-gradient-x2-blue .card-footer,
.bg-gradient-y2-blue .card-header,
.bg-gradient-y2-blue .card-footer {
    background-color: transparent;
}

.bg-gradient-x-light-blue {
    background-image: linear-gradient(to right, #0288d1 0%, #4fc3f7 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0288D1', endColorstr='#FF4FC3F7', GradientType=1);
}

.bg-gradient-y-light-blue {
    background-image: linear-gradient(to bottom, #0288d1 0%, #4fc3f7 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0288D1', endColorstr='#FF4FC3F7', GradientType=0);
}

.bg-gradient-directional-light-blue {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #0288d1, #4fc3f7);
}

.bg-gradient-x2-light-blue {
    background-image: linear-gradient(to right, #4fc3f7, #03a9f4 50%, #81d4fa);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4FC3F7', endColorstr='#FF81D4FA', GradientType=1);
}

.bg-gradient-y2-light-blue {
    background-image: linear-gradient(#4fc3f7, #03a9f4 50%, #81d4fa);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4FC3F7', endColorstr='#FF81D4FA', GradientType=0);
}

.bg-gradient-radial-light-blue {
    background-image: radial-gradient(circle, #0288d1, #4fc3f7);
    background-repeat: no-repeat;
}

.bg-gradient-striped-light-blue {
    background-image: linear-gradient(
        45deg,
        #81d4fa 25%,
        transparent 25%,
        transparent 50%,
        #81d4fa 50%,
        #81d4fa 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-light-blue .card-header,
.bg-gradient-x-light-blue .card-footer,
.bg-gradient-y-light-blue .card-header,
.bg-gradient-y-light-blue .card-footer,
.bg-gradient-directional-light-blue .card-header,
.bg-gradient-directional-light-blue .card-footer,
.bg-gradient-radial-light-blue .card-header,
.bg-gradient-radial-light-blue .card-footer,
.bg-gradient-striped-light-blue .card-header,
.bg-gradient-striped-light-blue .card-footer,
.bg-gradient-x2-light-blue .card-header,
.bg-gradient-x2-light-blue .card-footer,
.bg-gradient-y2-light-blue .card-header,
.bg-gradient-y2-light-blue .card-footer {
    background-color: transparent;
}

.bg-gradient-x-cyan {
    background-image: linear-gradient(to right, #0097a7 0%, #4dd0e1 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0097A7', endColorstr='#FF4DD0E1', GradientType=1);
}

.bg-gradient-y-cyan {
    background-image: linear-gradient(to bottom, #0097a7 0%, #4dd0e1 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0097A7', endColorstr='#FF4DD0E1', GradientType=0);
}

.bg-gradient-directional-cyan {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #0097a7, #4dd0e1);
}

.bg-gradient-x2-cyan {
    background-image: linear-gradient(to right, #4dd0e1, #00bcd4 50%, #80deea);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4DD0E1', endColorstr='#FF80DEEA', GradientType=1);
}

.bg-gradient-y2-cyan {
    background-image: linear-gradient(#4dd0e1, #00bcd4 50%, #80deea);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4DD0E1', endColorstr='#FF80DEEA', GradientType=0);
}

.bg-gradient-radial-cyan {
    background-image: radial-gradient(circle, #0097a7, #4dd0e1);
    background-repeat: no-repeat;
}

.bg-gradient-striped-cyan {
    background-image: linear-gradient(
        45deg,
        #80deea 25%,
        transparent 25%,
        transparent 50%,
        #80deea 50%,
        #80deea 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-cyan .card-header,
.bg-gradient-x-cyan .card-footer,
.bg-gradient-y-cyan .card-header,
.bg-gradient-y-cyan .card-footer,
.bg-gradient-directional-cyan .card-header,
.bg-gradient-directional-cyan .card-footer,
.bg-gradient-radial-cyan .card-header,
.bg-gradient-radial-cyan .card-footer,
.bg-gradient-striped-cyan .card-header,
.bg-gradient-striped-cyan .card-footer,
.bg-gradient-x2-cyan .card-header,
.bg-gradient-x2-cyan .card-footer,
.bg-gradient-y2-cyan .card-header,
.bg-gradient-y2-cyan .card-footer {
    background-color: transparent;
}

.bg-gradient-x-teal {
    background-image: linear-gradient(to right, #00796b 0%, #4db6ac 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00796B', endColorstr='#FF4DB6AC', GradientType=1);
}

.bg-gradient-y-teal {
    background-image: linear-gradient(to bottom, #00796b 0%, #4db6ac 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00796B', endColorstr='#FF4DB6AC', GradientType=0);
}

.bg-gradient-directional-teal {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #00796b, #4db6ac);
}

.bg-gradient-x2-teal {
    background-image: linear-gradient(to right, #4db6ac, #009688 50%, #80cbc4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4DB6AC', endColorstr='#FF80CBC4', GradientType=1);
}

.bg-gradient-y2-teal {
    background-image: linear-gradient(#4db6ac, #009688 50%, #80cbc4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4DB6AC', endColorstr='#FF80CBC4', GradientType=0);
}

.bg-gradient-radial-teal {
    background-image: radial-gradient(circle, #00796b, #4db6ac);
    background-repeat: no-repeat;
}

.bg-gradient-striped-teal {
    background-image: linear-gradient(
        45deg,
        #80cbc4 25%,
        transparent 25%,
        transparent 50%,
        #80cbc4 50%,
        #80cbc4 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-teal .card-header,
.bg-gradient-x-teal .card-footer,
.bg-gradient-y-teal .card-header,
.bg-gradient-y-teal .card-footer,
.bg-gradient-directional-teal .card-header,
.bg-gradient-directional-teal .card-footer,
.bg-gradient-radial-teal .card-header,
.bg-gradient-radial-teal .card-footer,
.bg-gradient-striped-teal .card-header,
.bg-gradient-striped-teal .card-footer,
.bg-gradient-x2-teal .card-header,
.bg-gradient-x2-teal .card-footer,
.bg-gradient-y2-teal .card-header,
.bg-gradient-y2-teal .card-footer {
    background-color: transparent;
}

.bg-gradient-x-green {
    background-image: linear-gradient(to right, #388e3c 0%, #81c784 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF388E3C', endColorstr='#FF81C784', GradientType=1);
}

.bg-gradient-y-green {
    background-image: linear-gradient(to bottom, #388e3c 0%, #81c784 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF388E3C', endColorstr='#FF81C784', GradientType=0);
}

.bg-gradient-directional-green {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #388e3c, #81c784);
}

.bg-gradient-x2-green {
    background-image: linear-gradient(to right, #81c784, #4caf50 50%, #a5d6a7);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF81C784', endColorstr='#FFA5D6A7', GradientType=1);
}

.bg-gradient-y2-green {
    background-image: linear-gradient(#81c784, #4caf50 50%, #a5d6a7);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF81C784', endColorstr='#FFA5D6A7', GradientType=0);
}

.bg-gradient-radial-green {
    background-image: radial-gradient(circle, #388e3c, #81c784);
    background-repeat: no-repeat;
}

.bg-gradient-striped-green {
    background-image: linear-gradient(
        45deg,
        #a5d6a7 25%,
        transparent 25%,
        transparent 50%,
        #a5d6a7 50%,
        #a5d6a7 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-green .card-header,
.bg-gradient-x-green .card-footer,
.bg-gradient-y-green .card-header,
.bg-gradient-y-green .card-footer,
.bg-gradient-directional-green .card-header,
.bg-gradient-directional-green .card-footer,
.bg-gradient-radial-green .card-header,
.bg-gradient-radial-green .card-footer,
.bg-gradient-striped-green .card-header,
.bg-gradient-striped-green .card-footer,
.bg-gradient-x2-green .card-header,
.bg-gradient-x2-green .card-footer,
.bg-gradient-y2-green .card-header,
.bg-gradient-y2-green .card-footer {
    background-color: transparent;
}

.bg-gradient-x-light-green {
    background-image: linear-gradient(to right, #689f38 0%, #aed581 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF689F38', endColorstr='#FFAED581', GradientType=1);
}

.bg-gradient-y-light-green {
    background-image: linear-gradient(to bottom, #689f38 0%, #aed581 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF689F38', endColorstr='#FFAED581', GradientType=0);
}

.bg-gradient-directional-light-green {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #689f38, #aed581);
}

.bg-gradient-x2-light-green {
    background-image: linear-gradient(to right, #aed581, #8bc34a 50%, #c5e1a5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAED581', endColorstr='#FFC5E1A5', GradientType=1);
}

.bg-gradient-y2-light-green {
    background-image: linear-gradient(#aed581, #8bc34a 50%, #c5e1a5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAED581', endColorstr='#FFC5E1A5', GradientType=0);
}

.bg-gradient-radial-light-green {
    background-image: radial-gradient(circle, #689f38, #aed581);
    background-repeat: no-repeat;
}

.bg-gradient-striped-light-green {
    background-image: linear-gradient(
        45deg,
        #c5e1a5 25%,
        transparent 25%,
        transparent 50%,
        #c5e1a5 50%,
        #c5e1a5 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-light-green .card-header,
.bg-gradient-x-light-green .card-footer,
.bg-gradient-y-light-green .card-header,
.bg-gradient-y-light-green .card-footer,
.bg-gradient-directional-light-green .card-header,
.bg-gradient-directional-light-green .card-footer,
.bg-gradient-radial-light-green .card-header,
.bg-gradient-radial-light-green .card-footer,
.bg-gradient-striped-light-green .card-header,
.bg-gradient-striped-light-green .card-footer,
.bg-gradient-x2-light-green .card-header,
.bg-gradient-x2-light-green .card-footer,
.bg-gradient-y2-light-green .card-header,
.bg-gradient-y2-light-green .card-footer {
    background-color: transparent;
}

.bg-gradient-x-lime {
    background-image: linear-gradient(to right, #afb42b 0%, #dce775 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAFB42B', endColorstr='#FFDCE775', GradientType=1);
}

.bg-gradient-y-lime {
    background-image: linear-gradient(to bottom, #afb42b 0%, #dce775 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFAFB42B', endColorstr='#FFDCE775', GradientType=0);
}

.bg-gradient-directional-lime {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #afb42b, #dce775);
}

.bg-gradient-x2-lime {
    background-image: linear-gradient(to right, #dce775, #cddc39 50%, #e6ee9c);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDCE775', endColorstr='#FFE6EE9C', GradientType=1);
}

.bg-gradient-y2-lime {
    background-image: linear-gradient(#dce775, #cddc39 50%, #e6ee9c);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDCE775', endColorstr='#FFE6EE9C', GradientType=0);
}

.bg-gradient-radial-lime {
    background-image: radial-gradient(circle, #afb42b, #dce775);
    background-repeat: no-repeat;
}

.bg-gradient-striped-lime {
    background-image: linear-gradient(
        45deg,
        #e6ee9c 25%,
        transparent 25%,
        transparent 50%,
        #e6ee9c 50%,
        #e6ee9c 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-lime .card-header,
.bg-gradient-x-lime .card-footer,
.bg-gradient-y-lime .card-header,
.bg-gradient-y-lime .card-footer,
.bg-gradient-directional-lime .card-header,
.bg-gradient-directional-lime .card-footer,
.bg-gradient-radial-lime .card-header,
.bg-gradient-radial-lime .card-footer,
.bg-gradient-striped-lime .card-header,
.bg-gradient-striped-lime .card-footer,
.bg-gradient-x2-lime .card-header,
.bg-gradient-x2-lime .card-footer,
.bg-gradient-y2-lime .card-header,
.bg-gradient-y2-lime .card-footer {
    background-color: transparent;
}

.bg-gradient-x-yellow {
    background-image: linear-gradient(to right, #fbc02d 0%, #fff176 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBC02D', endColorstr='#FFFFF176', GradientType=1);
}

.bg-gradient-y-yellow {
    background-image: linear-gradient(to bottom, #fbc02d 0%, #fff176 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBC02D', endColorstr='#FFFFF176', GradientType=0);
}

.bg-gradient-directional-yellow {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #fbc02d, #fff176);
}

.bg-gradient-x2-yellow {
    background-image: linear-gradient(to right, #fff176, #ffeb3b 50%, #fff59d);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFF176', endColorstr='#FFFFF59D', GradientType=1);
}

.bg-gradient-y2-yellow {
    background-image: linear-gradient(#fff176, #ffeb3b 50%, #fff59d);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFF176', endColorstr='#FFFFF59D', GradientType=0);
}

.bg-gradient-radial-yellow {
    background-image: radial-gradient(circle, #fbc02d, #fff176);
    background-repeat: no-repeat;
}

.bg-gradient-striped-yellow {
    background-image: linear-gradient(
        45deg,
        #fff59d 25%,
        transparent 25%,
        transparent 50%,
        #fff59d 50%,
        #fff59d 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-yellow .card-header,
.bg-gradient-x-yellow .card-footer,
.bg-gradient-y-yellow .card-header,
.bg-gradient-y-yellow .card-footer,
.bg-gradient-directional-yellow .card-header,
.bg-gradient-directional-yellow .card-footer,
.bg-gradient-radial-yellow .card-header,
.bg-gradient-radial-yellow .card-footer,
.bg-gradient-striped-yellow .card-header,
.bg-gradient-striped-yellow .card-footer,
.bg-gradient-x2-yellow .card-header,
.bg-gradient-x2-yellow .card-footer,
.bg-gradient-y2-yellow .card-header,
.bg-gradient-y2-yellow .card-footer {
    background-color: transparent;
}

.bg-gradient-x-amber {
    background-image: linear-gradient(to right, #ffa000 0%, #ffd54f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFA000', endColorstr='#FFFFD54F', GradientType=1);
}

.bg-gradient-y-amber {
    background-image: linear-gradient(to bottom, #ffa000 0%, #ffd54f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFA000', endColorstr='#FFFFD54F', GradientType=0);
}

.bg-gradient-directional-amber {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #ffa000, #ffd54f);
}

.bg-gradient-x2-amber {
    background-image: linear-gradient(to right, #ffd54f, #ffc107 50%, #ffe082);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFD54F', endColorstr='#FFFFE082', GradientType=1);
}

.bg-gradient-y2-amber {
    background-image: linear-gradient(#ffd54f, #ffc107 50%, #ffe082);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFD54F', endColorstr='#FFFFE082', GradientType=0);
}

.bg-gradient-radial-amber {
    background-image: radial-gradient(circle, #ffa000, #ffd54f);
    background-repeat: no-repeat;
}

.bg-gradient-striped-amber {
    background-image: linear-gradient(
        45deg,
        #ffe082 25%,
        transparent 25%,
        transparent 50%,
        #ffe082 50%,
        #ffe082 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-amber .card-header,
.bg-gradient-x-amber .card-footer,
.bg-gradient-y-amber .card-header,
.bg-gradient-y-amber .card-footer,
.bg-gradient-directional-amber .card-header,
.bg-gradient-directional-amber .card-footer,
.bg-gradient-radial-amber .card-header,
.bg-gradient-radial-amber .card-footer,
.bg-gradient-striped-amber .card-header,
.bg-gradient-striped-amber .card-footer,
.bg-gradient-x2-amber .card-header,
.bg-gradient-x2-amber .card-footer,
.bg-gradient-y2-amber .card-header,
.bg-gradient-y2-amber .card-footer {
    background-color: transparent;
}

.bg-gradient-x-orange {
    background-image: linear-gradient(to right, #f57c00 0%, #ffb74d 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF57C00', endColorstr='#FFFFB74D', GradientType=1);
}

.bg-gradient-y-orange {
    background-image: linear-gradient(to bottom, #f57c00 0%, #ffb74d 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF57C00', endColorstr='#FFFFB74D', GradientType=0);
}

.bg-gradient-directional-orange {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #f57c00, #ffb74d);
}

.bg-gradient-x2-orange {
    background-image: linear-gradient(to right, #ffb74d, #ff9800 50%, #ffcc80);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFB74D', endColorstr='#FFFFCC80', GradientType=1);
}

.bg-gradient-y2-orange {
    background-image: linear-gradient(#ffb74d, #ff9800 50%, #ffcc80);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFB74D', endColorstr='#FFFFCC80', GradientType=0);
}

.bg-gradient-radial-orange {
    background-image: radial-gradient(circle, #f57c00, #ffb74d);
    background-repeat: no-repeat;
}

.bg-gradient-striped-orange {
    background-image: linear-gradient(
        45deg,
        #ffcc80 25%,
        transparent 25%,
        transparent 50%,
        #ffcc80 50%,
        #ffcc80 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-orange .card-header,
.bg-gradient-x-orange .card-footer,
.bg-gradient-y-orange .card-header,
.bg-gradient-y-orange .card-footer,
.bg-gradient-directional-orange .card-header,
.bg-gradient-directional-orange .card-footer,
.bg-gradient-radial-orange .card-header,
.bg-gradient-radial-orange .card-footer,
.bg-gradient-striped-orange .card-header,
.bg-gradient-striped-orange .card-footer,
.bg-gradient-x2-orange .card-header,
.bg-gradient-x2-orange .card-footer,
.bg-gradient-y2-orange .card-header,
.bg-gradient-y2-orange .card-footer {
    background-color: transparent;
}

.bg-gradient-x-deep-orange {
    background-image: linear-gradient(to right, #e64a19 0%, #ff8a65 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE64A19', endColorstr='#FFFF8A65', GradientType=1);
}

.bg-gradient-y-deep-orange {
    background-image: linear-gradient(to bottom, #e64a19 0%, #ff8a65 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE64A19', endColorstr='#FFFF8A65', GradientType=0);
}

.bg-gradient-directional-deep-orange {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #e64a19, #ff8a65);
}

.bg-gradient-x2-deep-orange {
    background-image: linear-gradient(to right, #ff8a65, #ff5722 50%, #ffab91);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF8A65', endColorstr='#FFFFAB91', GradientType=1);
}

.bg-gradient-y2-deep-orange {
    background-image: linear-gradient(#ff8a65, #ff5722 50%, #ffab91);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF8A65', endColorstr='#FFFFAB91', GradientType=0);
}

.bg-gradient-radial-deep-orange {
    background-image: radial-gradient(circle, #e64a19, #ff8a65);
    background-repeat: no-repeat;
}

.bg-gradient-striped-deep-orange {
    background-image: linear-gradient(
        45deg,
        #ffab91 25%,
        transparent 25%,
        transparent 50%,
        #ffab91 50%,
        #ffab91 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-deep-orange .card-header,
.bg-gradient-x-deep-orange .card-footer,
.bg-gradient-y-deep-orange .card-header,
.bg-gradient-y-deep-orange .card-footer,
.bg-gradient-directional-deep-orange .card-header,
.bg-gradient-directional-deep-orange .card-footer,
.bg-gradient-radial-deep-orange .card-header,
.bg-gradient-radial-deep-orange .card-footer,
.bg-gradient-striped-deep-orange .card-header,
.bg-gradient-striped-deep-orange .card-footer,
.bg-gradient-x2-deep-orange .card-header,
.bg-gradient-x2-deep-orange .card-footer,
.bg-gradient-y2-deep-orange .card-header,
.bg-gradient-y2-deep-orange .card-footer {
    background-color: transparent;
}

.bg-gradient-x-brown {
    background-image: linear-gradient(to right, #5d4037 0%, #a1887f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5D4037', endColorstr='#FFA1887F', GradientType=1);
}

.bg-gradient-y-brown {
    background-image: linear-gradient(to bottom, #5d4037 0%, #a1887f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5D4037', endColorstr='#FFA1887F', GradientType=0);
}

.bg-gradient-directional-brown {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #5d4037, #a1887f);
}

.bg-gradient-x2-brown {
    background-image: linear-gradient(to right, #a1887f, #795548 50%, #bcaaa4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA1887F', endColorstr='#FFBCAAA4', GradientType=1);
}

.bg-gradient-y2-brown {
    background-image: linear-gradient(#a1887f, #795548 50%, #bcaaa4);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA1887F', endColorstr='#FFBCAAA4', GradientType=0);
}

.bg-gradient-radial-brown {
    background-image: radial-gradient(circle, #5d4037, #a1887f);
    background-repeat: no-repeat;
}

.bg-gradient-striped-brown {
    background-image: linear-gradient(
        45deg,
        #bcaaa4 25%,
        transparent 25%,
        transparent 50%,
        #bcaaa4 50%,
        #bcaaa4 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-brown .card-header,
.bg-gradient-x-brown .card-footer,
.bg-gradient-y-brown .card-header,
.bg-gradient-y-brown .card-footer,
.bg-gradient-directional-brown .card-header,
.bg-gradient-directional-brown .card-footer,
.bg-gradient-radial-brown .card-header,
.bg-gradient-radial-brown .card-footer,
.bg-gradient-striped-brown .card-header,
.bg-gradient-striped-brown .card-footer,
.bg-gradient-x2-brown .card-header,
.bg-gradient-x2-brown .card-footer,
.bg-gradient-y2-brown .card-header,
.bg-gradient-y2-brown .card-footer {
    background-color: transparent;
}

.bg-gradient-x-blue-grey {
    background-image: linear-gradient(to right, #455a64 0%, #90a4ae 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF455A64', endColorstr='#FF90A4AE', GradientType=1);
}

.bg-gradient-y-blue-grey {
    background-image: linear-gradient(to bottom, #455a64 0%, #90a4ae 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF455A64', endColorstr='#FF90A4AE', GradientType=0);
}

.bg-gradient-directional-blue-grey {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #455a64, #90a4ae);
}

.bg-gradient-x2-blue-grey {
    background-image: linear-gradient(to right, #90a4ae, #607d8b 50%, #b0bec5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF90A4AE', endColorstr='#FFB0BEC5', GradientType=1);
}

.bg-gradient-y2-blue-grey {
    background-image: linear-gradient(#90a4ae, #607d8b 50%, #b0bec5);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF90A4AE', endColorstr='#FFB0BEC5', GradientType=0);
}

.bg-gradient-radial-blue-grey {
    background-image: radial-gradient(circle, #455a64, #90a4ae);
    background-repeat: no-repeat;
}

.bg-gradient-striped-blue-grey {
    background-image: linear-gradient(
        45deg,
        #b0bec5 25%,
        transparent 25%,
        transparent 50%,
        #b0bec5 50%,
        #b0bec5 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-blue-grey .card-header,
.bg-gradient-x-blue-grey .card-footer,
.bg-gradient-y-blue-grey .card-header,
.bg-gradient-y-blue-grey .card-footer,
.bg-gradient-directional-blue-grey .card-header,
.bg-gradient-directional-blue-grey .card-footer,
.bg-gradient-radial-blue-grey .card-header,
.bg-gradient-radial-blue-grey .card-footer,
.bg-gradient-striped-blue-grey .card-header,
.bg-gradient-striped-blue-grey .card-footer,
.bg-gradient-x2-blue-grey .card-header,
.bg-gradient-x2-blue-grey .card-footer,
.bg-gradient-y2-blue-grey .card-header,
.bg-gradient-y2-blue-grey .card-footer {
    background-color: transparent;
}

.bg-gradient-x-grey {
    background-image: linear-gradient(to right, #616161 0%, #e0e0e0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF616161', endColorstr='#FFE0E0E0', GradientType=1);
}

.bg-gradient-y-grey {
    background-image: linear-gradient(to bottom, #616161 0%, #e0e0e0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF616161', endColorstr='#FFE0E0E0', GradientType=0);
}

.bg-gradient-directional-grey {
    background-repeat: repeat-x;
    background-image: linear-gradient(45deg, #616161, #e0e0e0);
}

.bg-gradient-x2-grey {
    background-image: linear-gradient(to right, #e0e0e0, #9e9e9e 50%, #eeeeee);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE0E0E0', endColorstr='#FFEEEEEE', GradientType=1);
}

.bg-gradient-y2-grey {
    background-image: linear-gradient(#e0e0e0, #9e9e9e 50%, #eeeeee);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE0E0E0', endColorstr='#FFEEEEEE', GradientType=0);
}

.bg-gradient-radial-grey {
    background-image: radial-gradient(circle, #616161, #e0e0e0);
    background-repeat: no-repeat;
}

.bg-gradient-striped-grey {
    background-image: linear-gradient(
        45deg,
        #eeeeee 25%,
        transparent 25%,
        transparent 50%,
        #eeeeee 50%,
        #eeeeee 75%,
        transparent 75%,
        transparent
    );
}

.bg-gradient-x-grey .card-header,
.bg-gradient-x-grey .card-footer,
.bg-gradient-y-grey .card-header,
.bg-gradient-y-grey .card-footer,
.bg-gradient-directional-grey .card-header,
.bg-gradient-directional-grey .card-footer,
.bg-gradient-radial-grey .card-header,
.bg-gradient-radial-grey .card-footer,
.bg-gradient-striped-grey .card-header,
.bg-gradient-striped-grey .card-footer,
.bg-gradient-x2-grey .card-header,
.bg-gradient-x2-grey .card-footer,
.bg-gradient-y2-grey .card-header,
.bg-gradient-y2-grey .card-footer {
    background-color: transparent;
}
